@import '../../../../style/import.scss';

$max-height: 150px;

.ui-molecules-combobox {
    $c: &;

    .ui-molecules-dropdown {
        &__content {
            @include padding(all, 10px 0);
        }

        &__item {
            @include padding(all, 0);

            #{$c}__item {
                @include padding(all, 0 24px 0 16px);
            }

            &--sub-option {
                #{$c}__item {
                    @include padding(all, 0 24px 0 32px);
                }
            }
        }
    }

    &__item {
        width: 100%;
    }
}
