{
    "extends": [
        "stylelint-prettier/recommended",
        "stylelint-config-sass-guidelines"
    ],
    "plugins": [
        "stylelint-scss",
        "stylelint-prettier",
        "stylelint-order"
    ],
    "rules": {
        "order/order": [
            "custom-properties",
            "declarations"
        ],
        "order/properties-alphabetical-order": true,
        "prettier/prettier": [
            true,
            {
                "singleQuote": true
            }
        ],
        "at-rule-no-unknown": [null, {
            "ignoreAtRules": ["xl"]
        }],
        "string-quotes": "single",
        "unit-no-unknown": null,
        "scss/at-rule-no-unknown": true,
        "max-empty-lines": 2,
        "indentation": 4,
        "no-descending-specificity": null,
        "number-leading-zero": null
    }
}