@import '../../../../style/import.scss';

.ui-atomic-badges {
    white-space: nowrap;

    @include padding(all, 10px);
    @include font-face(primary, transparent, xs, 400, normal, none, none, 20);

    &__close {
        cursor: pointer;
        right: 10px;
        top: 50%;

        @include transform-translate-y(-50%);
    }

    &--with-close {
        @include padding-right(30px);
    }

    &--size {
        &-small {
            height: 20px;

            @include font-size(xxs);
        }

        &-default {
            height: 30px;
        }

        &-big {
            height: 40px;

            @include font-size(sm);
        }
    }

    .ui-atomic-icon {
        @include font-size(sm);
    }
}
