@import '../../../../style/import.scss';
@use 'sass:map';

.ui-atomic-text {
    &--styling {
        &-heading-1 {
            font-size: text-size(5xl);
        }

        &-heading-2 {
            font-size: text-size(4xl);
        }

        &-heading-3 {
            font-size: text-size(3xl);
        }

        &-heading-4 {
            font-size: text-size(2xl);
        }

        &-heading-5 {
            font-size: text-size(xl);
        }

        &-heading-6 {
            font-size: text-size(base);
        }

        &-default {
            font-size: text-size(sm);
        }

        &-featured {
            font-size: text-size(lg);
        }

        &-meta {
            font-size: text-size(sm);
        }

        &-caption {
            font-size: text-size(xs);
        }

        &-tiny {
            font-size: text-size(xxs);
        }
    }

    &--typeface {
        &-primary {
            @include font-family($font-primary);
        }

        &-secondary {
            @include font-family($font-secondary);
        }
    }
}
