@import '../../../../style/import.scss';

$link-color: #d2d6da;

.ui-organism-footer-r123 {
    @include font-color($link-color);
    text-decoration: none;

    &__upper-container {
        float: left;
        @include margin-top(16px);
        @include padding(all, 16px 0 32px);
        width: 100%;

        @include background-color(#20282e);

        &__footer-section {
            margin: 0 auto;
            width: 1140px;
        }

        &__active-content {
            display: inline-block;
            line-height: 1.4;
            padding: 10px 20px 10px 0;
            vertical-align: top;
            width: 25%;
        }

        @media (max-width: 1388px) {
            &__footer-section {
                width: 95%;
            }
        }
    }

    &__bottom-container {
        width: 100%;

        @include background-color(#333f48);

        &__footer-section {
            margin: 0 auto;
            width: 1140px;
        }

        &__block-container {
            margin: 32px 0;
        }

        &__copyright-container {
            padding: 16px 0 48px;
        }

        &__wrapper {
            display: flex;
            justify-content: space-between;
        }

        @media (max-width: 1388px) {
            &__footer-section {
                width: 95%;
            }
        }
    }

    .ui-molecules-tab {
        @include font-color($link-color);

        &__bar {
            border-bottom: 1px solid rgb(51, 63, 72);
            height: 40px;
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;
        }

        &__pane {
            @include margin-right(56px);
            @include padding(all, 8px 0);

            &::after {
                opacity: 0;
            }

            &:hover {
                @include font-color($link-color);
            }

            &--active {
                border-bottom: 1px solid rgb(41, 128, 185);

                @include font-color(white);
                @include font-weight(map-get($font-weight-general, bold));
            }
        }
    }

    .ui-atomic-link {
        text-decoration: none;

        @include font-color($link-color);

        &:hover {
            @include font-color(white);
        }
    }
}
