@import '../../../../style/import.scss';

.ui-atomic-link {
    &--styling {
        &-underline-none {
            text-decoration: none;
        }
    }

    &__icon {
        @include margin-right(map-get($width-general, 1));
        vertical-align: middle;
    }

    &.truncate {
        span {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
        }
    }
}
