@import '../../../../style/import.scss';

.ui-organisms-card-r123-featured {
    &__content-wrapper {
        height: 100%;
        width: 100%;
    }

    &__media-section {
        width: 100%;

        &__caption {
            bottom: 0;
            height: auto;
            left: 0;
            min-height: 80px;
            width: 100%;

            @include padding(all, 0 16px 8px);
            @include linear-gradient(rgba(0, 0, 0, 0) 0, rgb(0, 0, 0), 180deg);
        }
    }

    &__heading-section {
        @include padding(all, 10px 16px);
    }

    &__price-info {
        a {
            &:first-child {
                @include margin-right(8px);
            }
        }
    }
}
