@import '../../../../style/import.scss';

.ui-organisms-card-r123-featured {
    &__content-wrapper {
        height: 100%;
        width: 100%;
    }

    &__media-section {
        width: 100%;

        &__caption {
            bottom: 0;
            height: auto;
            left: 0;
            min-height: 80px;
            width: 100%;

            @include padding(all, 0 16px 8px);
            @include linear-gradient(rgba(0, 0, 0, 0) 0, rgb(0, 0, 0), 180deg);
        }
    }

    &__heading-section {
        @include padding(all, 10px 16px);
    }

    &__price-info {
        a {
            &:first-child {
                @include margin-right(8px);
            }
        }
    }
}

.featured-card--content {
    width: 100%;

    &__top-row {
        .left-content {
            overflow: hidden;

            .info-title {
                height: 20px;

                @include margin-bottom(2px);
            }
        }
    }

    &__middle-row {
        @include margin-top(14px);

        .attribute-config {
            &__buildingsize {
                @include padding-right(5px);
                @include border-right(1px, solid, heading);
            }

            &__landsize {
                @include padding-left(5px);
            }
        }
    }

    &__bottom-row {
        .featured-card-attribute {
            @include margin-top(20px);

            &__facility {
                @include margin-right(8px);
            }
        }

        .contact-detail-button {
            @include margin-left(8px);
        }
    }
}
