/**
 * Generate Classname Mixin
 */

@mixin generate-class() {
    @each $value in $z-index-values {
        .z-index-#{$value} {
            z-index: #{$value};
        }
    }

    @each $alias, $detail in $attribute-name {
        @each $value in $space-values {
            .#{$alias}-#{$value} {
                #{$detail}: #{$value}px;
            }
        }

        .no-#{$alias} {
            #{$detail}: 0;
        }
    }

    @each $value in $grid-layout {
        .col-#{$value} {
            flex: 0 0 calc(calc(100% / 16) * #{$value});
            width: calc(calc(100% / 16) * #{$value});
        }
    }

    .no-r {
        @include no-rounded();
    }
}
