@import '../../../../style/import.scss';
@use 'sass:map';

.ui-atomic-button {
    align-items: center;
    display: inline-flex;
    height: map-get($height-general, 8);
    @include padding-left(map-get($width-general, 4));
    @include padding-right(map-get($width-general, 4));
    @include no-background();
    @include font-size(map-get($font-size-general, sm));
    @include rounded(map-get($width-general, 1));
    @include no-border();
    @include font-weight(500);
    line-height: inherit;
    outline: 0;
    text-align: center;
    white-space: nowrap;

    &--theme {
        &-primary {
            @include background-color(map-get($color-general, primary));

            .ui-atomic-button--children {
                @include font-color(map-get($color-general, white));
            }

            &:hover {
                @include background-color(
                    map-get($color-general, hoverPrimary)
                );
                border-color: map-get($color-general, hoverPrimary);
            }
        }

        &-secondary {
            @include background-color(map-get($color-general, greyR123));
            @include border(
                all,
                1px,
                solid,
                map-get($color-general, greyDarkerR123)
            );
            @include font-color(map-get($color-general, black));

            &:hover {
                @include background-color(
                    map-get($color-general, hoverSecondary)
                );
            }
        }

        &-success {
            @include background-color(map-get($color-general, success));

            .ui-atomic-button--children {
                @include font-color(map-get($color-general, white));
            }

            &:hover {
                background: darken(map-get($color-general, success), 10%);
            }
        }

        &-warning {
            @include background-color(map-get($color-general, warning));

            .ui-atomic-button--children {
                @include font-color(map-get($color-general, warning900));
            }

            &:hover {
                background: darken(map-get($color-general, warning), 10%);
            }
        }

        &-danger {
            @include background-color(map-get($color-general, danger));

            .ui-atomic-button--children {
                @include font-color(map-get($color-general, white));
            }

            &:hover {
                @include background-color(map-get($color-general, hoverDanger));
            }
        }

        &-info {
            @include background-color(map-get($color-general, info));

            .ui-atomic-button--children {
                @include font-color(map-get($color-general, white));
            }

            &:hover {
                background: darken(map-get($color-general, info), 10%);
            }
        }
    }

    &--size {
        &-big {
            height: map-get($height-general, 10);
            @include font-size(map-get($font-size-general, base));
        }
    }

    &--outline {
        @include no-background();
        @include border(all, 1px, solid, map-get($color-general, primary));

        .ui-atomic-button--children {
            @include font-color(map-get($color-general, primary));
        }

        &:hover {
            @include no-background();
            @include border(
                all,
                1px,
                solid,
                map-get($color-general, hoverOutline)
            );

            .ui-atomic-button--children {
                @include font-color(map-get($color-general, hoverOutline));
            }
        }
    }

    &__icon {
        @include margin-right(map-get($width-general, 1));
    }
}
