@import '../mixins/mixin.scss';

.slide-right {
    &-apear {
        @include opacity(0);

        z-index: 1;
        display: none;

        &.slide-down-appear-active {
            @include opacity(1);

            display: block;

            transform: translateX(0%);
            -webkit-transform: translateX(0%);
            -moz-transform: translateX(0%);
            -o-transform: translateX(0%);
        }
    }

    &-enter {
        @include opacity(0);

        z-index: 1;
        display: flex;

        &.slide-left-enter-active {
            @include opacity(0);

            display: flex;

            transform: translateX(50%);
            -webkit-transform: translateX(50%);
            -moz-transform: translateX(50%);
            -o-transform: translateX(50%);
        }

        &-done {
            @include opacity(1);

            display: flex;

            transform: translateX(0%);
            -webkit-transform: translateX(0%);
            -moz-transform: translateX(0%);
            -o-transform: translateX(0%);
        }
    }

    &-exit {
        @include opacity(0);

        display: flex;

        &.slide-left-exit-active {
            @include opacity(0);

            display: flex;

            transform: translateX(100%);
            -webkit-transform: translateX(100%);
            -moz-transform: translateX(100%);
            -o-transform: translateX(100%);
        }

        &-done {
            @include opacity(1);

            display: flex;

            transform: translateX(100%);
            transition-timing-function: ease-in;
            -webkit-transform: translateX(100%);
            -moz-transform: translateX(100%);
            -o-transform: translateX(100%);
        }
    }
}
