@import '../mixin/mixin.scss';

.slide-down {
    &-apear {
        @include opacity(0);

        display: none;
        z-index: 1;

        &.slide-down-appear-active {
            @include opacity(1);

            display: block;
            transform: translateY(0%);
        }
    }

    &-enter {
        @include opacity(0);

        display: flex;
        z-index: 1;

        &.slide-down-enter-active {
            @include opacity(0);

            display: flex;
            transform: translateY(50%);
        }

        &-done {
            @include opacity(1);

            display: flex;
            transform: translateY(0%);
        }
    }

    &-exit {
        @include opacity(0);

        display: flex;

        &.slide-down-exit-active {
            @include opacity(0);

            display: flex;
            transform: translateY(50%);
        }

        &-done {
            @include opacity(0);

            display: none;

            transform: translateY(50%);
        }
    }
}
