@import '../../../../style/import.scss';

.ui-organism-listing-inquiry-r123 {
    &__container-wrapper {
        object-fit: contain;
        pointer-events: all;
        width: 360px;
    }

    &__contact-wrapper {
        @include border(all, 1px, solid, greyDarkerR123);
        @include padding(all, 16px);
    }

    &__agent-wrapper {
        @include margin-bottom(24px);
    }

    &__agent-contact-name {
        @include font-color(outline);

        &:hover {
            text-decoration: underline;
        }
    }

    &__agent-join-info {
        @include font-color(basicCardHeadingR123);
        @include font-size(10px);
    }

    &__inquiry-buttons {
        @include margin(all, 0 -5px);
    }

    &__email-button {
        @include border-top(1px, solid, #cccccc);
        @include margin-top(16px);
        @include padding-top(16px);
    }

    &__organization-wrapper {
        @include border(all, 1px, solid, greyDarkerR123);
        @include no-border-top();
    }

    &__organization-content {
        @include font-color(black);
        @include padding(all, 8px 16px);
    }

    .ui-atomic-button {
        justify-content: center;
        width: 100%;

        &--theme {
            &-secondary {
                @include margin(all, 0 5px);
                @include background-color(grayR123);
            }

            &-secondary:hover {
                @include background-color(greyDarkerR123);
            }
        }
    }

    .ui-atomic-text {
        text-align: center;

        @include margin-bottom(5px);
    }
}
