@import '../../../../style/import.scss';

.ui-organism-listing-inquiry-r123 {
    &__container-wrapper {
        object-fit: contain;
        pointer-events: all;
        width: 360px;
    }

    &__contact-wrapper {
        @include border(all, 1px, solid, greyDarkerR123);
        @include padding(all, 16px);
    }

    &__agent-wrapper {
        @include margin-bottom(24px);
    }

    &__agent-contact-name {
        @include font-color(outline);

        &:hover {
            text-decoration: underline;
        }
    }

    &__agent-join-info {
        @include font-color(basicCardHeadingR123);
        @include font-size(10px);
    }

    &__inquiry-buttons {
        @include margin(all, 0 -5px);
    }

    &__email-button {
        @include border-top(1px, solid, #cccccc);
        @include margin-top(16px);
        @include padding-top(16px);
    }

    &__organization-wrapper {
        @include border(all, 1px, solid, greyDarkerR123);
        @include no-border-top();
    }

    &__organization-content {
        @include font-color(black);
        @include padding(all, 8px 16px);
    }

    .ui-atomic-button {
        justify-content: center;
        width: 100%;

        &--theme {
            &-secondary {
                @include margin(all, 0 5px);
                @include background-color(grayR123);
            }

            &-secondary:hover {
                @include background-color(greyDarkerR123);
            }
        }
    }

    .ui-atomic-text {
        text-align: center;

        @include margin-bottom(5px);
    }

    &__inquiry-box-wrapper {
        display: block;
        // text-align: center;
        max-width: 800px;
        padding: 24px 24px 40px;
        margin: 0px auto;
        display: flex;
        flex-direction: column;
    }

    &__contact-form {
        margin-bottom: 24px;
    }

    &__contact-form-title {
        color: rgb(51, 63, 72);
        font-size: 18px;
        line-height: 22px;
        font-weight: 300;
        margin: 16px 0px;
    }

    &__agent-logo {
        width: 80px;
        height: 80px;
        display: block;
        background-color: transparent;
        border-width: initial;
        border-style: none;
        border-color: initial;
        border-image: initial;
    }

    &__agent-info {
        @include font-color(black);
    }

    &__link-info {
        text-decoration: none;

        @include font-color(black);
        @include font-weight(500);

        &:hover {
            text-decoration: underline;                
        }
    }

    &__term {
        @include font-color(text);
        @include font-size(12px);
        @include font-weight(300);
    }

    &__email-submit {
        text-align: right;
    }

    &__email-form-body {
        display: flex;
        flex-direction: row;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }

    &__inquiry_buyer_info {
        @include margin-top(20px);
    }

    &__input-label {
        @include font-color(text);
        @include font-size(10px);
        @include font-weight(300);
    }
}

input#inquiry-input {
    height: 32px;
    font-size: 14px;

    @include font-weight(300);

    &:hover {
        border-color: #49a9ee;
    }
}
