@import '../../../../style/import.scss';

.ui-molecule-paginate {
    &__break {
        display: none;
    }

    &__item {
        align-items: center;
        height: 40px;
        justify-content: center;
        min-width: 40px;

        @include margin-right(8px);
        @include rounded(3px);
        @include border(all, 1px, solid, basicCardHeadingR123);
        @include font-color(addOnTextR123);

        &--active {
            @include background-color(text);
            @include font-color(white);
        }

        &--prev,
        &--next {
            align-items: center;
            height: 40px;
            justify-content: center;
            width: 40px;

            @include rounded(3px);
            @include border(all, 1px, solid, basicCardHeadingR123);

            a {
                cursor: pointer;
                height: 100%;
                width: 100%;

                @include padding(all, 10px);
            }
        }

        &--next {
            @include margin-right(16px);
        }

        &--prev {
            @include margin-left(16px);
            @include margin-right(8px);
        }

        a {
            align-items: center;
            cursor: pointer;
            display: flex;
            height: 100%;
            justify-content: center;
            width: 100%;

            @include rounded(0);
            @include padding(all, 10px);
            @include transition(0.3s cubic-bezier(0.7, 0.3, 0, 1));

            &:hover {
                @include background-color(text);
                @include font-color(white);
            }
        }
    }
}

.disabled {
    opacity: 0;
}
