@import '../../../../style/import.scss';

.ui-organisms-card-r123-basic {
    &__media-section {
        height: 250px;
        width: 250px;
    }

    &__top-row {
        .ui-molecules-hollow-link {
            @include margin(all, 0 10px);

            &:last-child {
                @include margin-right(0);
            }
        }
    }

    &__bottom-row {
        bottom: 0;
        width: 100%;
    }

    &__content-section {
        height: 100%;
        width: 100%;

        @include margin-left(16px);
    }

    &__property-type-section {
        @include margin-bottom(3px);
    }

    &__title-section,
    &__property-type-section {
        @include margin-top(16px);
    }

    &__title-section,
    &__price-section {
        .ui-atomic-link:first-child {
            @include margin-bottom(3px);
        }
    }
}

@media (min-width: 1023px) {
    .ui-organisms-card-r123-basic {
        width: 750px;
    }
}

@media (max-width: 1023px) {
    .ui-organisms-card-r123-basic {
        width: 100%;
    }
}
