@import '../../../../style/import.scss';

$max-height: 150px;

.ui-molecules-combobox-split {
    $c: &;

    height: 100%;
    width: 100%;

    &--button {
        @include background-color(grayR123);

        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    &--dropdown {
        @include margin-right(5px);
        @include background-color(grayR123);
        @include border(all, 1px, solid, greyDarkerR123);

        align-items: center;
        border-bottom-right-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        display: flex;
        height: 40px;
        justify-content: center;
        width: 40px;

        .ui-molecules-dropdown {
            &__wrapper {
                right: 0;
                top: 30px;
            }
        }
    }

    &__item {
        width: 100%;
    }
}
